/*shared overall styles*/
body{
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/img1.JPG');
    background-size:cover;
}

/*index*/
.index-color-gradient{
    background: linear-gradient(to right, #556B2F, #8B4513);
    border-radius: 1em;
    padding: .5em;
}

.index-img{
    height: 30em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#index-main{
    background-color: rgb(60, 60, 46, 0.8);
    width: 80em;
    height: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    border-radius: 1em;
}

.index-description{
    margin: 0 auto;
    margin-right: 1em;
    margin-top: 1em;
    width: 20em;
    color: antiquewhite;
    font-size: 1.5em;
    
}

.index-description>h1{
    text-align: center;
    margin-bottom: 1em;
    line-height: 3em;
}

.index-description>p{
    margin: 0 auto;
    width: 20em;
    text-align: center;
}

.index-color-container{
    background-color: black;
    height: 30em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*login*/
#login-main{
    width: 32em;
    height: 32em;
    margin: 0 auto;
}

.form-box{
    background-color: rgb(60, 60, 46, 0.8);
    padding: 2em;   
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.login-logo{
    width: 15em;
    height: 15em;
    margin: 2em;
    border-radius: 1em;
}

label{
    display: block;
    font-size: 1em;
    line-height: 2em;
    display: flex;
    color: antiquewhite;
}

input{
    display: block;
    width: 20em;
    display: flex;
    border-radius: .5em;
    height: 1.5em;
}

#login-btn{
    margin-top: 2em;
    height: 2em;
    width: 15em;
    background-color: rgb(61, 139, 61);
    border-radius: .25em;
    color: rgb(227, 222, 158);
    margin-top: 2.5em;
}

/* media */
/*login page*/
/*Phone*/
/* @media (max-width: 767px) {
    body {
        min-width: 320px;
        font-size: 1em;
    }
} */

/*Tablet*/
/* @media (min-width: 768px) {
    body {
        font-size: 1.5em;
    }

    .input{
        width: 22em;
        height: 2em;
        }

    #login-btn{
        height: 3em;
        width: 21em;
        margin-top: 2.5em;
    }
} */

/*Desktop*/
/* @media (min-width: 1024px) {
    body {
        font-size: 2em;
        max-width: 1920px;
    }

    .input{
        width: 23em;
        height: 2.5em;
        }
    
    #login-btn{
        height: 3em;
        width: 20em;
        margin-top: 2.5em;
    }

} */





